/*---Fonts Variables--*/
  $inter-font: "Inter", sans-serif;

/*---Theme color Variables--*/
  $primary: #ff9916;
  $white: #fff;
  $text_color: #031a26;
  $text_color2: #252525;
  $text_style2: rgba(3, 26, 38, 0.6);
  $border: rgba(3, 26, 38, 0.12);





