/*---Fonts Variables--*/
  $font-family: "Inter", sans-serif;

/*---Theme color Variables--*/
  $primary: #ff9916;
  $white: #fff;
  $text_color: #031a26;
  $text_style2: rgba(3, 26, 38, 0.6);
  $text_style3: rgba(3, 26, 38, 0.7);
  $text_style4: rgba(255, 255, 255, 0.8);
  $border: rgba(3, 26, 38, 0.12);





