.heading_area{
    .heading{
        h1{
            font-weight: 700;
            font-size: 60px;
            color: $text_color;
        }
    }
    .describtion{
        p{
            font-weight: 500;
            font-size: 18px;
            color: $text_style2;
        }
    }
}



@media (min-width:1200px){
    .min_br{
        display: none;
    }
}
@include nesthubmax{
  .nestmax_br_none{
        display: none;
    }
}
@include nesthub{
    .nest_br_none{
        display: none;
    }
}
@include md{
    .md_br_none{
        display: none;
    }
    .sm-none{
        display: none;
    }
}
@include sm{
    .sm_br_none{
        display: none !important;
    }
    .sm_br{
        display: block !important;
    }
    .sm-none{
        display: none;
    }
}



.highlight_describtion{
    padding: 20px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
    background: $white;
    border-radius: 5px;
    width: 100%;
    padding: 30px;
    border-left: 2px solid $primary;
    @include sm{
        padding: 10px 20px 15px 15px;
        margin-top: 20px !important;
    }
    strong{
        font-weight: 400;
        font-size: 18px;
        @include sm{
            font-size: 10px;
        }
        color: $text_style2;
    }
    p{
        font-weight: 400;
        font-size: 14px;
        @include sm{
            font-size: 10px;
        }
        color: $text_style2;
        margin-top: 5px;
    }

}