/*---Inner Page Hero Section Start---*/
.mb_inner_page_hero{
    height: 470px;
    background-color: #FFEED8;
    @include border-radius(24px);
    @include flex(row, flex-start, center);
    position: relative;
    .container{
        height: 100%;
    }
    .row{
        height: 100%;
        height: 470px
        // .col-lg-6{
        //     height: 100%
        // }
    }
    ul{
        @include flex(row, flex-start, center);
        gap: 10px;
        border: 1px solid rgba(34, 34, 34, 0.12);
        border-radius: 100px;
        padding: 5px 20px;
        background: #f4d9b6;
        width: fit-content;
        li{
            a{
                font-weight: 600;
                font-size: 15px;
                text-transform: uppercase;
                color: #031a26;
                @include transition(0.4s);
                span{
                    margin-right: 10px;
                }
                &:hover{
                    color: $primary;
                }
            }
        }
    }
    .heading{
        h1{
            font-weight: 600;
            font-size: 80px;
            color: #031a26;
            margin-top: 20px;
        }
    }
    .bitcoin{
        position: absolute;
        bottom: 52px;
        left: 0px;
    }
    .shape{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

// Heading Area
.rb_heading_area {
    .rb_subtitle {
        margin-bottom: 22px;
        display: inline-flex;
        gap: 8px;
        padding: 11px 30px;
        border-radius: 100px;
        border: 1px solid rgba(3, 26, 38, 0.12);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F2F2F2 100%);
        color: #252525;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        &.style1 {
            color: #031A26;
            text-transform: uppercase;
            background: none;
        }
    }
    .rb_title {
        color: #252525;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; 
        &.style1 {
            color: #031A26;
        }
    }
    .rb_desc {
        color: rgba(37, 37, 37, 0.60);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        &.styel1 {
            color: rgba(3, 26, 38, 0.60);
        }
    }
}

// Typography
.rb-t50 {
    color: #031A26;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.rb-t24 {
  color: #031A26;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  &.style1 {
    color: #FFF;
  }
}
.rb-t22 {
    color: #031A26;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.rb-t20 {
    color: #031A26;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}
.rb-p18 {
    color: rgba(3, 26, 38, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    &.style1 {
        color: rgba(255, 255, 255, 0.60);
    }
    &.style2 {
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; 
    }  
    &.style3 {
        color: #031A26;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }  
}
.rb-p16 {
    color: #031A26;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    // text-transform: uppercase;
    &.style1 {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &.style2 {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; 
    }
    &.style3 {
        color: rgba(3, 26, 38, 0.60);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; 
    }
}
.rb-p15 {
    color: #031A26;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
    &.style1 {
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px; 
        opacity: 0.7;
    }
}
.rb-p14 {
    color: rgba(3, 26, 38, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
}


// Common Css Start
.common_input {
    position: relative;
    .form-group {
        label {
            display: block;
            color: #031A26;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; 
            margin-bottom: 13px;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="date"],
        input[type="time"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 14px 0px;
            height: 54px;
            border: none;
            border-bottom: 1px solid rgba(3, 26, 38, 0.14);

            color: #031A26;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: 0.7;
            &::placeholder{
                color: #031A26;
            }
            &:focus {
                outline: none;
            }
        }
        textarea {
            height: 122px;
            resize: vertical;
        }
        input[type="date"] {
            cursor: pointer;
            &::-webkit-calendar-picker-indicator {
                opacity: 0;
                display: none;
                -webkit-appearance: none;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-clear-button {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }
        .nice-select,
        select {
            width: 100%;
            padding: 14px 0px;
            height: 54px;
            border-radius: 5px;
            border: none;
            border-bottom: 1px solid rgba(3, 26, 38, 0.14);

            color: #031A26;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            /* Remove default arrow styles for consistency */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            /* Add custom arrow */
            // background-image: url("data:image/svg+xml;charset=US-ASCII,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3e%3cpath fill='%23626262' d='M6 8L0 0h12z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 15px center;
            background-size: 12px 8px;
            cursor: pointer;
        }
        .nice-select:after {
            width: 7px;
            height: 7px;
        }
        select:focus {
            outline: none;
        }


        .gender-options {
            display: flex;
            gap: 20px;
            padding: 14px 30px;
            height: 54px;
            border-radius: 5px;
            background: var(--100, #EBF3ED);
            align-items: center;
            // @include breakpoint (max-xsmall){
            //     padding: 14px 15px;
            // }
            label {
                display: flex;
                align-items: center;
                gap: 6px;
                margin: 0;
                color: var(--800, #626262);
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; 
            }
    
            input[type="radio"] {
                display: flex;
                width: 20px;
                height: 20px;
                flex-direction: column;
                align-items: flex-start;
                flex-shrink: 0;
                border-radius: 50%; 
                border: 1px solid var(--900, #1F1F1F);
                background: transparent;
                cursor: pointer;
            }
        }


        .password-input-container {
            position: relative;
            display: flex;
            align-items: center;
            &.style_1{
                input{
                    &::placeholder{
                        font-size: 50px;
                        letter-spacing: 5px;
                        color: black;
                    }

                }
            }
        }
        .toggle-password {
            position: absolute;
            right: 15px;
            color: #626262;
            font-size: 18px;
            transition: color 0.3s;
            cursor: pointer;
        }
    }
}
// Common Css End

// Faq Section Start
.rb_faq_section {
    .accordion {
        width: 100%;
        .accordion-item {
            border-radius: 14px;
            border: 1px solid rgba(3, 26, 38, 0.10);
            margin-bottom: 30px;
            overflow: hidden; 
            @include sm{
                margin-bottom: 8px;
            }
            &.active {
                .accordion-header {
                    background: $white;
                    border: 1px solid rgba(3, 26, 38, 0.10);
                    h3{
                        color: #031A26;
                    }                    

                    .icon {
                        transform: rotate(180deg); 
                        background-color: #FF9916;
                        color: $white;
                    }
                }
                .accordion-content {
                    height: auto; 
                }
            }
        }

        .accordion-header {
            @include flex(row, space-between, center);
            padding: 15px 24px;
            @include sm{
                padding: 4px 15px;
            }
            cursor: pointer;
                transition: background 0.3s ease;
            h3{
                color: #031A26;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                @include sm{
                    font-size: 8px;
                }
            }

            &:hover {
                background-color: #f0f0f0;
            }

            .icon {
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                @include border-radius(50%);
                background-color: #FFEED8;
                transition: transform 0.3s ease;
                box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
                @include sm{
                    width: 14px;
                    height: 14px;
                    line-height: 13px;
                    font-size: 8px;
                }
            }
        }

        .accordion-content {
            height: 0;
            overflow: hidden;
            transition: height 0.5s ease-out, padding 0.5s ease-out;
            p {
                padding: 21px 24px 40px 24px;
                margin: 0; 
                color: rgba(3, 26, 38, 0.60);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; 
                @include sm{
                    font-size: 8px;
                    padding: 10px;
                }
            }
        }
    }
}
// Faq Section End


// List css 
.rb_list {
    ul {
        li {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 15px;
            color: rgba(37, 37, 37, 0.90);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; 
        }
    }
}

// Arrow icon
.rb_arrow_btn {
    display: flex;
    gap: 48px;
    .icon {
        i {
            font-size: 20px;
            color: #FFF;
            cursor: pointer;
        }
    }
}
.rb_arrow_slider_btn {
    .item_1 {
        @include flex(row, center, center);
        position: absolute;
        top: 42%;
        left: 3%;      
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 46px;
        background: #FFF;
    }
    .item_2 {
        @include flex(row, center, center);
        position: absolute;
        top: 42%;
        right: 3%;      
        width: 46px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 46px;
        background: #FFF;
    }
    button {
        &:hover {
            background-color: #FF9916;
            i {
                color: #FFF;
            }
        }
    }
}

// Video icon
.rb_video_icon {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // img {
    //     @include breakpoint (max-lg){
    //         width: 70%;
    //     }
    // }
} 

// Tab css start
.nav-pills {
    border-radius: 50px;
    border: 1px solid rgba(3, 26, 38, 0.10);
    background: #FFEED8;
    display: flex; 
    display: inline-block;

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .nav-link {
    color: #031A26;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    border: 0;
    text-align: center;
    padding: 8px 32px;
    height: 54px;
    transition: all 0.3s ease;
    border-radius: 0; 
  
    &.active {
        color: #031A26;
        border-radius: 100px;
        background: #FFF;
        height: 50px;
        padding: 8px 30px;
        margin-left: 2px;
    }
  
    &:first-child.active {
      border-radius: 30px;

    }
  
    &:last-child.active {
      border-radius: 30px;
    }
  }
}		
// Tab css end




// About1 css start
.rb_about1 {
    .container {
        max-width: 1754px;
    }
    .mission_card {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding: 99px 77px;
        border-radius: 10px;
        background: #031A26;
    }
    h4 {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 100px; /* 416.667% */
    }
    p {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
    }
}
// About1 css end


// About2 css start
.rb_about2 {
    position: relative;
    .rb_heading_area {
        max-width: 630px;
    }
    .rb_content {
        max-width: 530px;
        .item {
            display: flex;
            align-items: center;
            gap: 24px;
            .icon {
                width: 80px;
                height: 80px;
                img {
                    border-radius: 100px;
                    border: 1px solid #E6E8E9;
                    background: #FFF;
                    padding: 23px 18px;
                }
            }
            &.style1 {
                .icon {
                    img {
                        padding: 18px 22px;
                    }
                }
            }
        }
    }
    .rb_btn_area {
        display: flex;
        align-items: center;
        gap: 30px;
        .rb_profile {
            display: flex;
            align-items: center;
            gap: 10px;
            .item {
                span:not(:first-child) {
                    margin-left: -18px;
                }

                .plus_icon {
                    display: flex;
                    width: 44px;
                    height: 44px;
                    flex-shrink: 0;
                    background: #121C27;
                    padding: 13px;
                    border-radius: 24px;
                }
                &.style1 {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .rb_thumb {
        position: relative;
        border-radius: 20px;
        img {
            border-radius: 20px;
        }
    }
}
// About2 css end