// Heading Area
.rb_heading_area {
    .rb_subtitle {
        margin-bottom: 22px;
        display: inline-flex;
        gap: 8px;
        padding: 11px 30px;
        border-radius: 100px;
        border: 1px solid rgba(3, 26, 38, 0.12);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #F2F2F2 100%);
        color: #252525;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        &.style1 {
            color: #031A26;
            text-transform: uppercase;
            background: none;
        }
    }
    .rb_title {
        color: #252525;
        font-family: Inter;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; 
        &.style1 {
            color: #031A26;
        }
    }
    .rb_desc {
        color: rgba(37, 37, 37, 0.60);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        &.styel1 {
            color: rgba(3, 26, 38, 0.60);
        }
    }
}

// Typography
.rb-t50 {
    color: #031A26;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
}
.rb-t24 {
  color: #031A26;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  &.style1 {
    color: #FFF;
  }
}
.rb-p18 {
    color: rgba(3, 26, 38, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    &.style1 {
        color: rgba(255, 255, 255, 0.60);
    } 
}
.rb-p16 {
    color: #031A26;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    text-transform: uppercase;
    &.style1 {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}


// Common Css Start
.common_input {
    .form-group {
        label {
            display: block;
            color: #031A26;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; 
            margin-bottom: 13px;
        }

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="date"],
        input[type="time"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 14px 0px;
            height: 54px;
            border: none;
            border-bottom: 1px solid rgba(3, 26, 38, 0.14);

            color: #031A26;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: 0.7;
            &::placeholder{
                color: #031A26;
            }
            &:focus {
                outline: none;
            }
        }
        textarea {
            height: 122px;
            resize: vertical;
        }
        input[type="date"] {
            cursor: pointer;
            &::-webkit-calendar-picker-indicator {
                opacity: 0;
                display: none;
                -webkit-appearance: none;
            }
            &::-webkit-inner-spin-button,
            &::-webkit-clear-button {
                display: none;
            }

            &:focus {
                outline: none;
            }
        }
        .nice-select,
        select {
            width: 100%;
            padding: 14px 0px;
            height: 54px;
            border-radius: 5px;
            border: none;
            border-bottom: 1px solid rgba(3, 26, 38, 0.14);

            color: #031A26;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            /* Remove default arrow styles for consistency */
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            /* Add custom arrow */
            background-image: url("data:image/svg+xml;charset=US-ASCII,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3e%3cpath fill='%23626262' d='M6 8L0 0h12z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 15px center;
            background-size: 12px 8px;
            cursor: pointer;
        }
        select:focus {
            outline: none;
        }


        .gender-options {
            display: flex;
            gap: 20px;
            padding: 14px 30px;
            height: 54px;
            border-radius: 5px;
            background: var(--100, #EBF3ED);
            align-items: center;
            // @include breakpoint (max-xsmall){
            //     padding: 14px 15px;
            // }
            label {
                display: flex;
                align-items: center;
                gap: 6px;
                margin: 0;
                color: var(--800, #626262);
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; 
            }
    
            input[type="radio"] {
                display: flex;
                width: 20px;
                height: 20px;
                flex-direction: column;
                align-items: flex-start;
                flex-shrink: 0;
                border-radius: 50%; 
                border: 1px solid var(--900, #1F1F1F);
                background: transparent;
                cursor: pointer;
            }
        }


        .password-input-container {
            position: relative;
            display: flex;
            align-items: center;
            &.style_1{
                input{
                    &::placeholder{
                        font-size: 50px;
                        letter-spacing: 5px;
                        color: black;
                    }

                }
            }
        }
        .toggle-password {
            position: absolute;
            right: 15px;
            color: #626262;
            font-size: 18px;
            transition: color 0.3s;
            cursor: pointer;
        }
    }
    .rememberMe {
        color: #142137;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; 
        margin-top: 10px;
    }
}
// Common Css End


// List css 
.rb_list {
    ul {
        li {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 15px;
            color: rgba(37, 37, 37, 0.90);
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; 
        }
    }
}

// Arrow icon
.rb_arrow_btn {
    display: flex;
    gap: 48px;
    .icon {
        i {
            font-size: 20px;
            color: #FFF;
            cursor: pointer;
        }
    }
}








// About1 css start
.rb_about1 {
    .container {
        max-width: 1754px;
    }
    .mission_card {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        padding: 99px 77px;
        border-radius: 10px;
        background: #031A26;
    }
    h4 {
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 100px; /* 416.667% */
    }
    p {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
    }
}
// About1 css end

