.rb_blog1 {
    .container {
        max-width: 1760px;
    }
    .rb_blog_card {
        border-radius: 14px;
        border: 1px solid rgba(3, 26, 38, 0.10);
        background: #FFF;
        padding: 10px 10px 30px 10px;
        @include transition(0.4s);
        .rb_thumb {
            overflow: hidden;
            border-radius: 14px;
            img {
                width: 100%;
                border-radius: 14px;
                @include transition(0.4s);
                &:hover {
                    scale: 1.2;
                    @include transition(0.4s);
                }

            }
        }
        .rb_content {
            padding: 0 12px;
            .rb_meta {
                border-bottom: 1px solid rgba(3, 26, 38, 0.10);
                display: flex;
                align-items: center;
                gap: 20px;
                i {
                    padding-right: 5px;
                    color: #031A26;
                    opacity: 0.7;
                }
            }
            .rb-t20 {
                &:hover {
                    color: #FF9916;
                } 
            }
        }
        &:hover {
            background: #FFEED8;
            @include transition(0.4s);
            .btn_wrapper{
                &.style_1{
                    a{
                        background: #FF9916;
                        color: $white;
                        @include transition(0.4s);
                        span{
                            background-color: $white;
                            color: $text_color;
                        }
                    }
                }
            }
        }
    }
}

.rb_blog2 {
    position: relative;
    .rb_blog_header {
        h4 {
            color: #031A26;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        h5 {
            color: rgba(3, 26, 38, 0.70);
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            span {
                color: #031A26;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
    .rb_blog2_shape {
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 37px;
    }
    .rb_blog2_shape2 {
        position: absolute;
        z-index: 9;
        top: -5%;
        right: 58px;
    }
    .section-padding {
        position: relative;
        padding: 120px 75px 110px;
        border-radius: 24px;
        background: #FFEED8;
        &.style1 {
            background-color: $white;
        }
    }
    .rb_radio_btn{
        @include flex(row, flex-start, center);
        gap: 20px;
        line-height: 50px;
        button{
            border: none;
            background-color: transparent;
            input{
                color: #FF9916;
                margin-right: 8px;
            }
        }
    }
    .rb_dropdown {
        .btn_one {
            padding: 5px 16px;
            border-radius: 100px;
            background: #F4DEC2;
            border: none;
            height: 42px;
            &:hover {
                background: #FFF;
            }
        }
    }
    .rb_dropdown_1 {
        .btn_one {
            padding: 5px 22px;
            border-radius: 100px;
            border: 1px solid rgba(3, 26, 38, 0.12);
            height: 50px;
            background-color: $white;
            color: rgba(3, 26, 38, 0.70);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    .rb_dropdown_2 {
        display: flex;
        align-items: center;
        padding: 5px 22px;
        border-radius: 100px;
        border: 1px solid rgba(3, 26, 38, 0.12);
        height: 50px;
        background-color: $white;
        color: rgba(3, 26, 38, 0.70);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        .rb_badge {
            @include flex(row, center, center);      
            margin-left: 16px; 
            border-radius: 24px;     
            width: 26px;
            height: 26px;
            flex-shrink: 0;
            background-color: #FF9916;
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    .rb_dropdown_3 {
        @include flex(row, center, center);
        border-radius: 100px;
        border: 1px solid rgba(3, 26, 38, 0.12);
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        background-color: $white;
        color: rgba(3, 26, 38, 0.70);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
        cursor: pointer;
        i {
            font-size: 20px;
        }
    }
    .rb_blog_card {
        border-radius: 14px;
        border: 1px solid rgba(3, 26, 38, 0.10);
        background: #FFF;
        padding: 10px 10px 16px 10px;
        @include transition(0.4s);
        .rb_thumb {
            position: relative;
            overflow: hidden;
            border-radius: 14px;
            img {
                width: 100%;
                border-radius: 14px;
                @include transition(0.4s);
                &:hover {
                    scale: 1.2;
                    @include transition(0.4s);
                }

            }
            .rb_sale {
                position: absolute;
                border-radius: 30px;
                background: #031A26;
                padding: 6px 12px;
                top: 7%;
                left: 7%;
                z-index: 9;
            }
            .rb_bitcoin {
                width: 44px;
                height: 44px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                padding: 7px;
                background: #FFF;
                position: absolute;
                top: 7%;
                right: 7%;
                z-index: 9;
                border-radius: 24px;
            }
        }
        .rb_content {
            position: relative;
            padding: 0 12px;
            .rb_price {
                border-radius: 30px;
                background: #FF9916;
                padding: 7px 14px;
                position: absolute;
                top: -46px;
                right: 18px;
                &.style1 {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    span {
                        color: #FFF;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }
            }
            .rb_location {
                i {
                    padding-right: 8px;
                    color: #031A26;
                    opacity: 0.7;
                }
            }
            .rb_meta {
                display: flex;
                align-items: center;
                gap: 18px;
                border-bottom: 1px solid rgba(3, 26, 38, 0.10);;
                .rb_item {
                    img {
                        padding-right: 8px;
                    }
                }
            }
            .rb_card_link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .rb_link {
                    i {
                        padding-left: 5px;
                    }
                    &:hover {
                        color: #FF9916;
                    }
                }
                .rb_star {
                    ul {
                        display: inline-flex;
                        gap: 3px;
                        border-radius: 24px;
                        border: 1px solid rgba(255, 255, 255, 0.14);
                        padding: 3px 13px;
                    li {
                        i {
                        color: #F59E0B;
                        }
                    }
                    }
                }
            }
            .rb-t24 {
                &:hover {
                    color: #FF9916;
                } 
            }
        }
    }
}



  .rb_blog_card {
        border-radius: 14px;
        border: 1px solid rgba(3, 26, 38, 0.10);
        background: #FFF;
        padding: 10px 10px 16px 10px;
        @include transition(0.4s);
        .rb_thumb {
            position: relative;
            overflow: hidden;
            border-radius: 14px;
            img {
                width: 100%;
                border-radius: 14px;
                @include transition(0.4s);
                &:hover {
                    scale: 1.2;
                    @include transition(0.4s);
                }

            }
            .rb_sale {
                position: absolute;
                border-radius: 30px;
                background: #031A26;
                padding: 6px 12px;
                top: 7%;
                left: 7%;
                z-index: 9;
            }
            .rb_bitcoin {
                width: 44px;
                height: 44px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
                padding: 7px;
                background: #FFF;
                position: absolute;
                top: 7%;
                right: 7%;
                z-index: 9;
                border-radius: 24px;
            }
        }
        .rb_content {
            position: relative;
            padding: 0 12px;
            .rb_price {
                border-radius: 30px;
                background: #FF9916;
                padding: 7px 14px;
                position: absolute;
                top: -46px;
                right: 18px;
            }
            .rb_location {
                i {
                    padding-right: 8px;
                    color: #031A26;
                    opacity: 0.7;
                }
            }
            .rb_meta {
                display: flex;
                align-items: center;
                gap: 18px;
                border-bottom: 1px solid rgba(3, 26, 38, 0.10);;
                .rb_item {
                    img {
                        padding-right: 8px;
                    }
                }
            }
            .rb_card_link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .rb_link {
                    i {
                        padding-left: 5px;
                    }
                    &:hover {
                        color: #FF9916;
                    }
                }
                .rb_star {
                    ul {
                        display: inline-flex;
                        gap: 3px;
                        border-radius: 24px;
                        border: 1px solid rgba(255, 255, 255, 0.14);
                        padding: 3px 13px;
                    li {
                        i {
                        color: #F59E0B;
                        }
                    }
                    }
                }
            }
            .rb-t24 {
                &:hover {
                    color: #FF9916;
                } 
            }
        }
    }

