.rb_contact1 {
    position: relative;
    .contact_shape {
        position: absolute;
        bottom: 0;
        left: 42%;
    }
    .contact_shape2 {
        position: absolute;
        top: -14%;
        left: 0%;
    }
    .section_padding {
        border-radius: 24px;
        background: #FFEED8;
        padding: 120px 75px;
        .rb_contact_area {
            display: flex;
            gap: 30px;
            align-items: center;
            .item {
                display: flex;
                align-items: center;
                gap: 14px;
                a {
                    color: rgba(3, 26, 38, 0.60);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 187.5% */
                    &:hover {
                        color: #FF9916;
                    }
                }
            }
        }
        .rb_contact_form {
            padding: 54px 44px;
            border-radius: 14px;
            border: 1px solid rgba(3, 26, 38, 0.10);
            background: #FFF;
        }

    }
}