
.footer {
  position: relative;
  .container-fluid {
    position: relative;
  }
  .footer_thumb {
    img {
      width: 100%;
      position: absolute;
      padding-right: 23px;
    }
  }
  .section-padding {
    position: relative;
    padding: 107px 75px 34px;
    border-radius: 24px;
    background: rgba(3, 26, 38, 0.90);

  }
  .rb_logoInfo {
    max-width: 370px;
    .rb_logo_text {
      color: #FFF;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
    }
    .subscribe-form {
      position: relative;
      &__input {
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.14);
        width: 100%;
        height: 54px;
        padding: 21px 24px;
        outline: none;
        box-sizing: border-box;
        background: transparent;
    
        color: rgba(255, 255, 255, 0.60);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; 
      }
      &__button {
        position: absolute;
        right: 4px;
        top: 5px;
        border-radius: 30px;
        background: #FF9916;
        width: 44px;
        height: 44px;
        flex-shrink: 0;
        i {
          color: $white;
        }
        // :hover {
        //   background: rgba(3, 26, 38, 0.90);
        // }
      }
    }
    .rb_check {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.60);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
  }
  .rb_label {
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
  }
  .rb_text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
  }
  .rb_star {
    ul {
      display: inline-flex;
      gap: 3px;
      border-radius: 24px;
      border: 1px solid rgba(255, 255, 255, 0.14);
      padding: 3px 13px;
      li {
        i {
          color: #F59E0B;
        }
      }
    }
    .rb_text {
      color: #FFF;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; 
    }
  }
  .nav.footer-menu {
      display: flex;
      justify-content: space-between;
  }
  .footer-menu .nav-link {
    color: rgba(255, 255, 255, 0.70);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; 
    padding: 0;
  }  
  .footer-menu .nav-link.active {
    color: #FFF;
    text-decoration: underline;
  }
   
  .rb_social_links a {
    width: 40px;
    height: 40px;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: 0.3s;
  }
  
  .rb_social_links a:hover {
    background: #fff;
    color: #041820;
  }   

  .rb_hunting {
    color: #FFF;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; /* 105.714% */
  }
  .footer_bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
  }
}