.rb_project1 {
    position: relative;
    .section-padding {
        position: relative;
        padding: 120px 75px 110px;
    }
    .rb_project1_card {
        .rb_thumb {
            img {
                border-radius: 15px;
                width: 100%;
                max-height: 520px;
            }
        }
        .rb_btn {
            display: flex;
            align-items: center;
            gap: 10px;
            position: absolute;
            bottom: 20%;
            left: 6.3%;
            .item {
                @include flex(row, center,center);
                border-radius: 6px;
                background: #FFF;
                padding: 8px 8px;
                height: 40px;
                color: #031A26;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                img {
                    padding-right: 8px;
                    width: fit-content;
                }
            }
        }
        .rb_content {
            position: absolute;
            bottom: 4%;
            left: 3%;
            border-radius: 10px;
            background: #FFF;
            padding: 20px 16px;
            .rb_title {
                color: #031A26;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .rb_desc {
                color: var(--900, #031A26);
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; /* 150% */
            }
            .rb_desc2 {
                color: rgba(3, 26, 38, 0.60);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px; /* 162.5% */
            }
        }
    }
}