// Service1 css start
.rb_service1 {
    .row.style1 {
                            --bs-gutter-y: 4rem;
                            --bs-gutter-x: 4rem;
        // @include breakpoint (md){
        //     --bs-gutter-y: 3rem;
        //     --bs-gutter-x: 3rem;
        // }
        // @include breakpoint (xl){
        //     --bs-gutter-y: 4rem;
        //     --bs-gutter-x: 4rem;
        // }
    }
    .service_card {
        display: flex;
        gap: 22px;
    }
}
.rb_counter1 {
    .counter_box {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        flex-wrap: wrap;
        border-radius: 14px;
        background: #FFEED8;
        padding: 52px 100px;
        .counter_item {
            width: 175px;
        }
    }
}
// Service1 css end


// Step Slider Start
.rb_step_thumb {
    img {
        width: 100%;
    }
}
.rb_step_slider {
    position: relative;
    background: #031A26;
    padding: 120px 0 130px;
    .shape {
        position: absolute;
        top: 46.7%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1638px;
        height: 1px;
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.10);
    }
    .step_item {
        max-width: 291px;
    }
}
// Step Slider End