.rb_testimonial1 {
    .container {
        max-width: 1754px;
    }
    .rb_testi_card {
        position: relative;
        .rb_thumb {
            border-radius: 14px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: 14px;
                background: linear-gradient(180deg, rgba(3, 26, 38, 0.00) 0%, #031A26 100%);
            }
            img {
                width: 100%;
                border-radius: 14px;
            }
        }
        .rb_content {
            position: absolute;
            bottom: 0;
            padding: 34px;
            .rb_desc {
                border-bottom: 1px solid rgba(255, 255, 255, 0.30);
                padding-bottom: 30px;
                margin-bottom: 22px;
            }
            .rb_label {
                text-transform: uppercase;
            }
        }
    }
    .rb_testi_card2 {
        position: relative;
        border: 1px solid rgba(3, 26, 38, 0.10);
        background: #FFF;
        .rb_content {
            padding: 40px 34px 34px;
            .rb_profile {
                .rb_quote {
                    margin-left: -20px;
                }
            }
            .rb_desc {
                border-bottom: 1px solid rgba(3, 26, 38, 0.10);;
                padding-bottom: 48px;
                margin-bottom: 22px;
                color: rgba(3, 26, 38, 0.60);
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px; /* 187.5% */
            }
            .rb_title {
                color: #031A26;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 26px; 
            }
            .rb_label {
                color: #031A26;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px; /* 185.714% */
                text-transform: uppercase;
                opacity: 0.7;
            }
        }
    }
}